fastapi>=0.100.0
uvicorn>=0.23.0
python-multipart
google-genai>=0.3.0     
python-dotenv>=1.0.0      
chromadb>=0.5.0            
gradio==6.17.3
requests>=2.31.0
beautifulsoup4>=4.12.0
pypdf>=4.0.0
yt-dlp>=2024.1.1
openai-whisper
noisereduce
soundfile
numpy
torch
qwen-tts
transformers==4.57.3 
accelerate==1.12.0 
librosa 
einops 
sox 
onnxruntime
sentence-transformers
requests
